<!-- about部分 -->
<div class="nav-sub">
  <div class="about-us">
    Muic Ciecle へようこそ！<br>
    気軽に音楽仲間を見つけて交流できるサイトです！<br>
    まずは気軽に「気になる」ボタンを押して交流してみましょう！
  </div>
</div>
<!-- about部分ここまで -->
<!-- 新規投稿ボタン -->
<div class="post-create-btn">
  <% if enduser_signed_in? %>
    <%= link_to "新規募集投稿", new_public_post_path, class:"btn btn-primary py-0"%>
  <% else %>
    <%= link_to "新規募集投稿", new_enduser_registration_path, class:"btn btn-primary py-0"%>
  <% end %>
</div>
<!-- 新規投稿ボタンここまで -->

<div class="container">
  <div class="row">
    <!-- メインコンテンツ部分 -->
    <div class="col-xs-8 bg-lightgray margin-right-m">

      <!-- 募集一覧表示の部分(メイン部分) -->
      <div class="post-main-container">
        <table class="table">
          <thead class="thead-dark">
            <tr class="d-flex">
              <th class="col-xs-8"><h1>募集の一覧</h1></th>
              <th class="col-xs-2"></th>
              <th class="col-xs-2"></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post|%>
            <tr class="d-flex">
              <td class="col-xs-7">
                <div class="post-box">
                  <div class="post-title">
                    <%= link_to public_post_path(post.id) do %>
                      <h3><%= post.title %></h3>
                    <% end %>
                  </div>
                  <div class="post-tag">
                    <% post.tags.each do |tag| %>
                      <%= link_to public_searches_index_path(searchTag: tag.name) do %>
                        <li class="tag-list-item">
                          <%= tag.name %>
                        </li>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="post-body"><h5>-   <%= post.body.truncate(33, separator:"。")%></h5></div>
                </div>
              </td>
              <td class="col-xs-2" align="center">
                <div class="created_at_and_updated_at">
                  <h5>作成日:<%=post.created_at.strftime("%Y-%m-%d")%></h5>
                  <h5>更新日:<%=post.updated_at.strftime("%Y-%m-%d")%></h5>
                </div>
                <!-- 気になるボタン表示部分 -->
                  <!-- 非同期化しており、使いまわせるよう部分テンプレートにしている。非同期のデータの流れとしては、-->
                  <!-- 1.renderで部分テンプレート(public/concerns/concern)のビューを呼び出し-->
                  <!-- 2.js形式 のリクエストで link_to する(link_toのオプションでremote:trueとすればjs形式になる。コントローラー経由後jsファイル探しにいってくれる)-->
                  <!-- 3.コントローラーで処理を行ったあと,jsファイル(public/concern/create もしくは　destroy.js.erb)を探しに行くので,そこで部分的にrenderを行うよう指示-->
                <div class="concern-btn" id="concernBtn_<%= post.id %>">
                  <%= render partial: 'public/concerns/concern', locals: { post: post} %>
                </div>
                <!-- 気になるボタン表示部分ここまで -->
              </td>
                <td class="col-xs-3" align="center">
                  <%= attachment_image_tag(post.enduser, :image, size:"100x100", fallback: "no_image.jpg") %>
                  <h4><%= post.enduser.name %></h4>
                </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- 募集の一覧表示の部分ここまで-->
      <%= paginate @posts %>
    </div>
    <!-- メインコンテンツ部分 -->

    <!-- サイドバー部分 -->
    <%= render 'sidebar' %>
    <!-- サイドバー部分ここまで -->
  </div>
</div>

<!-- tableのひな型-->
<!-- <table class="table">
  <thead class="thead-dark">
    <tr class="d-flex">
      <th class="col-xs-8"><h1>人気の募集</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr class="d-flex">
      <td></td>
    </tr>
  </tbody>
</table> -->
