<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <!-- 検索バー全体 -->
      <div class="search-bar">
        <!-- 検索フォームタブ切り替え用のコントローラー　-->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation">
              <a aria-controls="tab_user" data-toggle="tab" href="#tab-user" role="tab">ユーザー名検索</a>
            </li>
            <li role="presentation">
              <a aria-controls="tab_user" data-toggle="tab" href="#tab-tag" role="tab">タグ名検索</a>
            </li>
          </ul>
        <!-- 検索フォームタブ切り替え用のコントローラーここまで　-->
        <!-- 検索フォーム部分-->
        <div class="tab-content">
          <!-- ユーザー名検索のフォーム -->
          <div class="tab-pane active tab-form" id="tab-user" role="tabpane1" align="center">
            <%= form_tag(public_searches_index_path, method: :get) do %>
              <span>ユーザー名:</span>
              <%= text_field_tag "searchUser", "", :required => true, class: "input-mysize-l", placeholder: "ユーザー名" %>
              <%= submit_tag "検索", class: "btn btn-success" %>
              <% end %>
          </div>
          <!-- ユーザー名検索のフォーム -->
          <!-- タグ検索のフォーム -->
          <div class="tab-pane tab-form" id="tab-tag" role="tabpanel">
              <!-- ユーザーの任意のタグ検索フォーム　-->
              <div class="search-tag-input" align="center">
                  <%= form_tag(public_searches_index_path, method: :get) do %>
                    <span>タグ名:</span>
                    <%= text_field_tag "searchTag", "", :required => true, class: "input-mysize-l", placeholder: "タグ名"%>
                    <%= submit_tag "検索", class: "btn btn-success" %>
                  <% end %>
              </div>
                <!-- ユーザーの任意のタグ検索フォームここまで　-->
                <!-- 最近登録のあったタグ40件までを表示部分-->
              <div class="search-tag-index">
                <% @allTags.each do |tag| %>
                    <%= link_to public_searches_index_path(searchTag: tag.name) do %>
                      <li class="search-tag-item">
                        <%= tag.name %>(<%= tag.posts.count%>)
                      </li>
                    <% end %>
                <% end %>
              </div>
              <!-- 最近登録のあったタグ40件までを表示部分ここまで-->
          </div>
          <!-- タグ検索のフォームここまで -->
      </div>
      <!-- 検索フォーム部分ここまで-->
    </div>
    <!-- 検索バー全体ここまで -->


      <div class="search-display">
        <% if !params[:searchUser].nil? || !params[:searchTag].nil? %>
          <!--　検索条件に合った募集一覧表示の部分(メイン部分) -->
            <table class="table">
              <!-- 募集一覧のヘッダー部分 -->
              <thead class="thead-dark">
                <tr class="d-flex">
                    <th class="col-xs-8">
                      <% if params[:searchUser] %>
                        <h1>ユーザー名検索: <%= @word %></h1>
                      <% elsif params[:searchTag] %>
                        <h1>タグ名検索: <%= @word %></h1>
                      <% end %>
                    </th>
                  <th class="col-xs-2"></th>
                  <th class="col-xs-2"></th>
                </tr>
              </thead>
              <!-- 募集一覧のヘッダー部分ここまで -->
              <!-- 募集一覧のボディー部分 -->
              <tbody>
                <% @posts.each do |post|%>
                  <tr class="d-flex">
                    <td class="col-xs-7">
                      <div class="post-box">
                        <div class="post-title">
                          <%= link_to public_post_path(post.id) do %>
                            <h3><%= post.title %></h3>
                          <% end %>
                        </div>
                        <div class="post-tag">
                          <% post.tags.each do |tag| %>
                          <li><%= tag.name %></li>
                          <% end %>
                        </div>
                        <div class="post-body"><h5>-   <%= post.body.truncate(33, spearator:"。")%></h5></div>
                      </div>
                    </td>
                    <td class="col-xs-2" align="center">
                      <div class="created_at_and_updated_at">
                        <h5>作成日:<%=post.created_at.strftime("%Y-%m-%d")%></h5>
                        <h5>更新日:<%=post.updated_at.strftime("%Y-%m-%d")%></h5>
                      </div>
                      <br>
                      <div class="concern-btn">
                        <% if enduser_signed_in? %>
                          <% if current_enduser.id == post.enduser.id %>
                            <div class="glyphicon glyphicon-heart non-concern"></div>
                            <%= post.concerns.count %>
                            <h6>*自分の投稿</h6>
                          <% else %>
                            <% if post.concerned_by?(current_enduser) %>
                              <%= link_to "",public_post_concerns_path(post.id),method: :delete,class: "glyphicon glyphicon-heart concern" %>
                              <%= post.concerns.count %>
                              <h6>気になる済</h6>
                            <% else %>
                              <%= link_to "",public_post_concerns_path(post.id),method: :post,class: "glyphicon glyphicon-heart non-concern" %>
                              <%= post.concerns.count %>
                              <h6>気になる！</h6>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </td>
                      <td class="col-xs-3" align="center">
                        <%= attachment_image_tag(post.enduser, :image, size:"100x100", fallback: "no_image.jpg") %>
                        <h4><%= post.enduser.name %></h4>
                      </td>
                  </tr>
                <% end %>
              </tbody>
              <!-- 募集一覧のボディー部分ここまで -->
            </table>
            <!-- 検索条件にあった募集の一覧表示の部分ここまで-->
        <% end %>
      </div>

    </div>
  </div>
</div>
