<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <!-- 一週間分のお気に入り数とコメント数の集計 -->
      <h1>Last 7 days</h1>

      <!-- タブ切り替え用のバー(週間分) -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="presentation">
          <a aria-controls="tab_user" data-toggle="tab" href="#tab-user"  role="tab" class="glyphicon glyphicon-heart chart-icons">
            <%= @sumConcerns_week %>
          </a>
        </li>
        <li role="presentation">
          <a aria-controls="tab_user" data-toggle="tab" href="#tab-tag" role="tab" class="glyphicon glyphicon-comment chart-icons">
            <%= @sumComments_week %>
          </a>
        </li>
      </ul>
      <!-- タブ切り替え用のバー(週間分)ここまで -->

      <!-- 表示する集計グラフ部分(週間分) -->
      <div class="tab-content">
        <div class="tab-pane active tab-form" id="tab-user" role="tabpane1" align="center">
          <%= column_chart @concerns_week, width: "500px", height: "300px" %>
        </div>
        <div class="tab-pane tab-form" id="tab-tag" role="tabpanel">
          <%= column_chart @comments_week, width: "500px", height: "300px" %>
        </div>
     </div>
     <!-- 表示する集計グラフ部分(週間分)ここまで -->
     <!-- 一週間分のお気に入り数とコメント数の集計ここまで -->


     <!-- 一年分のお気に入り数とコメント数の集計 -->
     <h1>Last 1 years</h1>

     <!-- タブ切り替え用のバー(年間分) -->
     <ul class="nav nav-tabs" role="tablist">
       <li class="active" role="presentation">
         <a aria-controls="tab_user" data-toggle="tab" href="#tab-user2"  role="tab" class="glyphicon glyphicon-heart chart-icons">
           <%= @sumConcerns_year %>
         </a>
       </li>
       <li role="presentation">
         <a aria-controls="tab_user1" data-toggle="tab" href="#tab-tag2" role="tab" class="glyphicon glyphicon-comment chart-icons">
           <%= @sumComments_year %>
         </a>
       </li>
     </ul>
     <!-- タブ切り替え用のバー(週間分)ここまで -->

     <!-- 表示する集計グラフ部分(週間分) -->
     <div class="tab-content">
       <div class="tab-pane active tab-form" id="tab-user2" role="tabpane1" align="center">
         <%= column_chart @concerns_year, width: "500px", height: "300px" %>
       </div>
       <div class="tab-pane tab-form" id="tab-tag2" role="tabpanel">
         <%= column_chart @comments_year, width: "500px", height: "300px" %>
       </div>
    </div>
    <!-- 表示する集計グラフ部分(週間分)ここまで -->
    <!-- 一週間分のお気に入り数とコメント数の集計ここまで -->


    </div>
  </div>
</div>
