<div class="container">
  <div class="row">

      <!-- 集計ページのサイドバー部分 -->
      <div class="col-xs-3">
        <table class="table">
          <div class="user-image" align="center">
            <%= attachment_image_tag(current_enduser, :image, size:"150x150", fallback: "no_image.jpg", class: "enduser-show-myimage") %>
            <h1><%= current_enduser.name %></h1>
          </div>
          <br><br>
          <tbody>
            <tr>
              <th>自己紹介</th>
              <td><%= current_enduser.introduction %></td>
            </tr>

            <tr>
              <th>地域</th>
              <td><%= current_enduser.area %></td>
            </tr>

            <tr>
              <th>年代</th>
              <td><%= current_enduser.age %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to "", edit_public_endusers_path, class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
        <br><br>
        <div class="enduser-option-btn">
          <%= link_to "投稿一覧を表示", public_endusers_path,class:"col-xs-12 show-chatIndex-btn btn btn-info option-btn" %>
          <%= link_to "DM一覧を表示", public_endusers_dmshow_path,class:"col-xs-12 show-chatIndex-btn btn btn-info option-btn" %>
          <%= link_to "集計ページを表示", public_endusers_chart_path,class:"col-xs-12 show-chatIndex-btn btn btn-info option-btn" %>
        </div>
      </div>
      <!-- 集計ページのサイドバー部分ここまで -->

      <!-- 集計ページのメインバー部分-->
      <div class="col-xs-9">
        <!-- 一週間分のお気に入り数とコメント数の集計 -->
        <div class="dropdown">
          <button type="button" id="dropdown1" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <h3>Last 7 days <b class="caret"></b> </h3>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown1">
            <ul>
              <li><a id="last-1-yaer-btn" class="dropdown-item active" href="#">Last 1 yaer</a></li>
            </ul>
          </div>
        </div>
        <br>
        <!-- タブ切り替え用のバー(週間分) -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active" role="presentation">
            <a aria-controls="tab_user" data-toggle="tab" href="#tab-user"  role="tab" class="glyphicon glyphicon-heart chart-icons">
              <%= @sumConcerns_week %>
            </a>
          </li>
          <li role="presentation">
            <a aria-controls="tab_user" data-toggle="tab" href="#tab-tag" role="tab" class="glyphicon glyphicon-comment chart-icons">
              <%= @sumComments_week %>
            </a>
          </li>
        </ul>
        <!-- タブ切り替え用のバー(週間分)ここまで -->

        <!-- 表示する集計グラフ部分(週間分) -->
        <div class="tab-content">
          <div class="tab-pane active tab-form" id="tab-user" role="tabpane1">
            <h5>　　気になる数(/週間)</h5>
            <%= column_chart @concerns_week, width: "500px", height: "300px" %>
          </div>
          <div class="tab-pane tab-form" id="tab-tag" role="tabpanel">
            <h5>　　コメント数(/週間)</h5>
            <%= column_chart @comments_week, width: "500px", height: "300px" %>
          </div>
       </div>
       <!-- 表示する集計グラフ部分(週間分)ここまで -->
       <!-- 一週間分のお気に入り数とコメント数の集計ここまで -->


       <!-- 一年分のお気に入り数とコメント数の集計 -->
       <div class="chart-1-year">
         <div class="dropdown">
           <button type="button" id="dropdown1" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <h3>Last 1 yaer <b class="caret"></b> </h3>
           </button>
           <div class="dropdown-menu" aria-labelledby="dropdown1">
             <ul>
               <li><a id="last-7-days-btn" class="dropdown-item active" href="#">Last 7 days</a></li>
             </ul>
           </div>
         </div>
         <br>

         <!-- タブ切り替え用のバー(年間分) -->
         <ul class="nav nav-tabs" role="tablist">
           <li class="active" role="presentation">
             <a aria-controls="tab_user" data-toggle="tab" href="#tab-user2"  role="tab" class="glyphicon glyphicon-heart chart-icons">
               <%= @sumConcerns_year %>
             </a>
           </li>
           <li role="presentation">
             <a aria-controls="tab_user1" data-toggle="tab" href="#tab-tag2" role="tab" class="glyphicon glyphicon-comment chart-icons">
               <%= @sumComments_year %>
             </a>
           </li>
         </ul>
         <!-- タブ切り替え用のバー(年間分)ここまで -->

         <!-- 表示する集計グラフ部分(年間分) -->
         <div class="tab-content">
           <div class="tab-pane active tab-form" id="tab-user2" role="tabpane1">
             <h5>　　気になる数(/年間)</h5>
             <%= column_chart @concerns_year, width: "500px", height: "300px" %>
           </div>
           <div class="tab-pane tab-form" id="tab-tag2" role="tabpanel">
             <h5>　　コメント数(/年間)</h5>
             <%= column_chart @comments_year, width: "500px", height: "300px" %>
           </div>
        </div>
        <!-- 表示する集計グラフ部分(年間分)ここまで -->
       </div>
      <!-- 一年分のお気に入り数とコメント数の集計ここまで -->
    </div>
    <!-- 集計ページのメインバー部分ここまで-->
    </div>
  </div>
</div>
