<div class="container">
  <div class="row">
  		<div class="col-xs-10 col-xs-offset-1">

  		<h2>マイページ</h2>

  		<br><br>
      <div class="row">
        <!-- マイページのサイドバー部分 -->
        <div class="col-xs-3">
          <table class="table">
            <div class="user-image" align="center">
              <%= attachment_image_tag(current_enduser, :image, size:"150x150", fallback: "no_image.jpg", class: "enduser-show-myimage") %>
              <h1><%= current_enduser.name %></h1>
            </div>
            <br><br>
            <tbody>
              <tr>
                <th>自己紹介</th>
                <td><%= current_enduser.introduction %></td>
              </tr>

              <tr>
                <th>地域</th>
                <td><%= current_enduser.area %></td>
              </tr>

              <tr>
                <th>年代</th>
                <td><%= current_enduser.age %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "", edit_public_endusers_path, class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
          <br><br>
          <div class="enduser-option-btn">
            <%= link_to "投稿一覧を表示", public_endusers_path,class:"col-xs-12 show-chatIndex-btn btn btn-info option-btn" %>
            <%= link_to "DM一覧を表示", public_endusers_dmshow_path,class:"col-xs-12 show-chatIndex-btn btn btn-info option-btn" %>
            <!-- link_to "集計ページを表示", public_endusers_chart_path,class:"col-xs-12 show-chatIndex-btn btn btn-info option-btn" -->
          </div>
        </div>
        <!-- マイページのサイドバー部分ここまで -->
        <div class="col-xs-1">
        </div>
        <div class="col-xs-8">
          <!-- マイページの、その人のした投稿一覧の表示部分 -->
          <table class="table" id="enduser-show-postIndex">
            <thead>
              <tr class="d-flex">
                  <th class="col-xs-9">
                    <h2><%= current_enduser.name%>さんの投稿</h2>
                  </th>
                <th class="col-xs-2"></th>
                <th class="col-xs-2"></th>
              </tr>
            </thead>
            <!-- 募集一覧のヘッダー部分ここまで -->
            <!-- 募集一覧のボディー部分 -->
            <tbody>
              <% @posts.each do |post|%>
                <tr class="d-flex">
                  <td class="col-xs-7">
                    <div class="post-box">
                      <div class="post-title">
                        <%= link_to public_post_path(post.id) do %>
                          <h3><%= post.title %></h3>
                        <% end %>
                      </div>
                      <div class="post-tag">
                        <% post.tags.each do |tag| %>
                        <li><%= tag.name %></li>
                        <% end %>
                      </div>
                      <div class="post-body"><h5>-   <%= post.body.truncate(33, spearator:"。")%></h5></div>
                    </div>
                  </td>
                  <td class="col-xs-4" align="center">
                    <div class="created_at_and_updated_at">
                      <h5>作成日:<%=post.created_at.strftime("%Y-%m-%d")%></h5>
                      <h5>更新日:<%=post.updated_at.strftime("%Y-%m-%d")%></h5>
                    </div>
                    <br>

                    <div class="row">
                      <div class="col-xs-12">
                        <span class="glyphicon glyphicon-heart enduser-show-icon"> <%= post.concerns.count %></span>
                        <span class="glyphicon glyphicon-comment enduser-show-icon" aria-hidden="true"> 0</span>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <!-- マイページの、その人のした投稿一覧の表示部分 -->
          <%= paginate @posts %>
        </div>
      </div>

  		<div>
  </div>
</div>
