<!DOCTYPE html>
<html>
  <head>
    <title>MusicCircle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <header>
          <nav class="nav-items">
            <div class="logo">
              <%= link_to(public_posts_path) do %>
                <%= image_tag "logo.png", :size => "200x100"%>
              <% end %>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- サインインしてる場合のheader部分 -->
                <% if admin_signed_in? %>
                  <li><%= link_to " 募集検索", public_searches_index_path,class:"glyphicon glyphicon-search search nav-items" %></li>
                  <li><%= link_to "バッチ" , admins_batches_path, class:"nav-items" %></li>
                  <li><%= link_to "統計" , admins_charts_path, class:"nav-items" %></li>
                  <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete , class:"nav-items" %></li>
                <% end %>

                <% if enduser_signed_in? %>
                  <li><%= link_to " 募集一覧", public_posts_path,class:"glyphicon glyphicon-align-justify nav-items" %></li>
                  <li><%= link_to " 募集検索", public_searches_index_path,class:"glyphicon glyphicon-search search nav-items" %></li>
                  <!-- ログインユーザーに紐づくroomsが一つでもあるかどうかで分岐し、リンク先を変更-->
                  <li>
                    <%= link_to(public_endusers_dmshow_path,class:"nav-items") do %>
                      <span class="glyphicon glyphicon-envelope bell-icon"></span>
                      <span>DM</span>
                      <!-- 未読件数の通知をしたいため、通知テーブルに保存されている、actionカラムが"message"で未チェックのものがあればカウントして表示する-->
                      <% if current_enduser.passive_notifications.where(action:"message", checked: false).any? %>
                        <span class="bell-circle">
                          <%= current_enduser.passive_notifications.where(action:"message", checked: false).count %>
                        </span>
                      <% end %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to(public_notifications_path,class:"nav-items") do %>
                      <span class="glyphicon glyphicon-bell bell-icon"></span>
                      <span>通知</span>
                      <% if current_enduser.passive_notifications.where(checked: false).where.not(action: "message").any? %>
                        <span class="bell-circle">
                          <%= current_enduser.passive_notifications.where(checked: false).where.not(action: "message").count %>
                        </span>
                      <% end %>
                    <% end %>
                  </li>
                  <!-- ユーザー関連のnavをまとめたドロップダウン(bootstrapの記述を使用) -->
                  <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <%= attachment_image_tag(current_enduser, :image, size:"50x50", fallback: "no_image.jpg", class: "nav-image") %>
                      <%= current_enduser.name %>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><%= link_to "マイページ", public_endusers_path(current_enduser.id), class:""%></li>
                        <li><%= link_to "ログアウト", destroy_enduser_session_path, method: :delete , class:"" %></li>
                    </ul>
                  </li>
                  <!-- ユーザー関連のnavをまとめたドロップダウン(bootstrapの記述を使用)　ここまで -->
                <!-- サインインしてる場合のheader部分 ここまで-->
                <% end %>
                <!-- サインアウトしてる場合のheader部分　-->
                <% if !admin_signed_in? && !enduser_signed_in? %>
                  <li><%= link_to " 募集一覧", public_posts_path,class:"glyphicon glyphicon-align-justify nav-items" %></li>
                  <li><%= link_to " 募集検索", public_searches_index_path,class:"glyphicon glyphicon-search search nav-items" %></li>
                  <li><%= link_to " 新規登録", new_enduser_registration_path , class:"glyphicon glyphicon-edit nav-items" %></li>
                  <li><%= link_to " ログイン", new_enduser_session_path , class:"glyphicon glyphicon-log-in nav-items" %></li>
                <!-- サインアウトしてる場合のheader部分　-->
                <% end %>
            </ul>
          </nav>
        </header>
        <!-- ヘッダー部分ここまで -->
        <!-- notice部分 -->
        <%= notice %>
        <!-- notice部分ここまで -->
        <%= yield %>
      </div>
    </div>
    <!-- ヘッダー部分 -->
  </body>
</html>
